{% assign card_variant = product.selected_or_first_available_variant %}

<article class="product-card">
  <a class="product-card-media" href="{{ product.url }}">
    {% if product.featured_image %}
      {{
        product.featured_image
        | image_url: width: 900
        | image_tag:
          widths: '360, 540, 720, 900',
          sizes: '(min-width: 990px) 25vw, 50vw',
          loading: 'lazy',
          alt: product.featured_image.alt
      }}
    {% else %}
      {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
    {% unless product.available %}
      <span class="product-badge">Sold out</span>
    {% endunless %}
  </a>
  <div class="product-card-details">
    <h3><a href="{{ product.url }}">{{ product.title | escape }}</a></h3>
    <div class="product-card-price">
      <span>{{ card_variant.price | money }}</span>
      {% if card_variant.compare_at_price > card_variant.price %}
        <s>{{ card_variant.compare_at_price | money }}</s>
      {% endif %}
    </div>
  </div>
</article>
